.footer {
  background-color: rgb(2, 2, 51);
  padding: 30px 0px;
  margin-top: 30px;
  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    line-height: 40px;
  }

  &__card {
    img {
      width: 100px;
    }
    i {
      color: white;
      font-size: 20px;
    }
  }

  h2 {
    font-size: 20px;
    color: gainsboro;
  }

  &__list {
    color: gray;
    font-size: 16px;
  }

  &__list:hover {
    color: rgb(245, 240, 240);
    font-size: 16px;
    cursor: pointer;
  }

  &__bottom__title {
    color: gray;
    text-align: center;
    padding: 10px 0px 0px;
  }

  @media (max-width: 1100px) {
    &__row {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      line-height: 40px;
    }
  }

  @media (max-width: 700px) {
    &__row {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      line-height: 40px;
    }
  }

  @media (max-width: 550px) {
    &__row {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      line-height: 40px;
    }
  }
}
